<ng-template #welcome>
    <div>
        <div class="video-container">
            <video src="/assets/images/chat-cover.mp4" [muted]="true" autoPlay playsInline muted loop></video>
            <div class="video-text d-flex align-items-center justify-content-center">
                <h1 class="text-center text-white text-large">
                    Taka Chat
                </h1>
            </div>
        </div>
    </div>
</ng-template>


<div *ngIf="currentUser$ | async; else welcome" class="chat-container vw-100">
    <div class="d-none d-md-block">
        <ac-user-list></ac-user-list>
    </div>
    <div class="content pb-5">
        <section class="chat pb-5">
            <div class="chat-timeline pb-5">
                <div *ngFor="let comment of comments$ | async"
                    class="list-group-item list-group-item-action flex-column align-items-start border-0 bg-primary">
                    <div class="media">
                        <div *ngIf="(comment.user.uid !== currentUser.uid )"
                            class="media-right bg-light rounded-circle">
                            <a href="#" class="icon text-info">{{ comment.user.initial }}</a>
                        </div>
                        <div class="media-body">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="media-heading">{{ comment.user.displayName }}
                                    <ng-container *ngIf="comment.user.uid === currentUser.uid">
                                        <i class="fa fa-edit ml-2" title="Edit"
                                            (click)="comment.isEdit = !comment.isEdit"></i>
                                        <i class="fa fa-trash ml-2" title="Delete" (click)="deleteComment(comment)"></i>
                                    </ng-container>
                                </h4>
                                <small class="media-date">{{ comment.date | date: 'medium' }}</small>
                            </div>
                            <ng-container *ngIf="!comment.isEdit">
                                <pre>{{ comment.message }}</pre>
                            </ng-container>
                            <ng-container *ngIf="comment.isEdit">
                                <div class="input-group">
                                    <textarea [(ngModel)]="comment.message" class="form-control"
                                        name="edit-comment"></textarea>
                                </div>
                                <div class="edit-buttons">
                                    <button class="btn btn-success btn-sm"
                                        (click)="updateComment(comment)">Save</button>
                                    <button class="btn btn-warning btn-sm"
                                        (click)="comment.isEdit = false">Cancel</button>
                                </div>
                            </ng-container>
                        </div>
                        <div *ngIf="comment.user.uid === currentUser.uid" class="media-right bg-light rounded-circle">
                            <a href="#" class="icon text-primary">{{ comment.user.initial }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <section class="chat-editor fixed-bottom w-100 bg-light m-0 p-2">
            <form class="chat-form d-flex">
                <div class="input-group">
                    <textarea [(ngModel)]="comment" name="comment" class="form-control" placeholder="message"
                        tabindex="1"></textarea>
                </div>
                <div class="form-header">
                    <span class="input-group-btn">
                        <button (click)="addComment(comment);" class="btn btn-primary btn-lg m-2" type="submit"
                            tabindex="2">Submit</button>
                    </span>
                </div>
            </form>
        </section>
    </div>
</div>