<div class="user-list">
    <div class="inner">
        <ul class="users">
            <li *ngFor="let user of users$ | async">
                <a [routerLink]="['users', user.uid]">
                    <div class="image">
                        <img width="30px" src="https://upload.wikimedia.org/wikipedia/commons/b/bc/Unknown_person.jpg" alt="{{user.displayName}}" class="rounded-circle">
                        {{ user.displayName }}
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
